body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  margin-left: 25px;
}

.input-group {
  position: relative;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

input[type='text'] {
  line-height: 24px;
}

.div-inputs input[type='button'] {
  height: 30px;
}

#btn-copy-full-text {
  height: 30px;
}

#btn-copy-full-text svg {
  color: rgb(125, 133, 144);
}

.div-copy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.fVPVZX[data-component='IconButton'][data-no-visuals] {
  color: rgb(125, 133, 144);
}

/* .fVPVZX:hover:not([disabled]) {
  border-color: rgba(177, 186, 196, 0.12);
  background-color: rgba(177, 186, 196, 0.12);
} */

.fVPVZX[data-no-visuals] {
  cursor: pointer;
  /* color: rgb(47, 129, 247); */
  /* margin-left: 4px; */
  /* margin-right: 0px; */
  width: 30px;
  height: 30px;
}

[data-tooltip] {
  position: relative;
  cursor: default;
}

[data-tooltip]::after {
  position: absolute;
  width: 100px;
  /* left: calc(50% - 70px); */
  left: 0;
  bottom: 125%;
  text-align: center;
  box-sizing: border-box;
  content: attr(data-tooltip);
  color: #ffffff;
  /* background-color: #000; */
  background-color: rgba(0, 0, 0, 0.75);
  padding: 8px;
  border-radius: 10px;
  font-size: 0.9em;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.2s;
}

[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

footer {
  position: absolute;
  bottom: 0;
  color: #555;
  background-color: #eee;
  width: 100%;
  padding: 10px 25px;
}
